<div class="root">
  <h3 style="display: inline-block; margin-right: 300px;">Reviews for {{movieTitle}}</h3> <button type="button" class="btn btn-info" [routerLink]="['/movies']">Home</button> 
  <button type="button" class="btn btn-danger" (click)="onRemove()">Delete</button>
  
  <table class="table table-bordered" style="margin-top: 20px;">
    <thead class="thead-light">
      <tr>
        <th>Reviewer</th>
        <th>Stars</th> 
        <th>Reviews</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let r of reviewList">
          <td>{{r.name}}</td>
          <td>{{r.star}}</td>
          <td>{{r.content}} <button type="button" class="btn btn-danger" (click)="onDel(r._id)">Delete</button></td> 
        </tr>
    <tbody>
  </table>

</div>

